<!DOCTYPE html>
<html lang="en">
    <head>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta charset="UTF-8">
        <meta name="google-signin-scope" content="profile">
        <meta name="google-signin-client_id"
            content="956371621839-rm5951rfgnjolb1p2rqo8pu7k5mpmlma.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script src="https://sdk.amazonaws.com/js/aws-sdk-2.488.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://kit.fontawesome.com/7370ae70b4.js"></script>
        <script src="js/config.js?{{site.github.build_revision}}"></script>
        <script src="js/authentication.js?{{site.github.build_revision}}"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" type="text/css" href="css/main.css">
        <title>Who's in the bag?</title>
        <script>{% assign min = 0 %}{% assign max = 10000 %}{% assign diff = max | minus: min %}{% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}
            let version = {{randomNumber}};
            let revision =  "{{site.github.build_revision}}";
        </script>
        </head>
        <body>{{content}}</body>
</html>
